#header{
    width: 100%;
    max-width: 1200px;
    min-width: 800px;
    height: 60px;
    background-color: white;
    margin: 0 auto;
}
#header li{
    cursor: pointer;
}
#loge{
    height: 40px;
    margin:10px 0;
    float: left;
}
#loge img{
    height: 100%;
}
#loge1{
    width: 60px;
    height: 60px;
    padding-top: 13px;
    float: right;
}
#loge1 div{
    margin: 0 auto;
}
#loge1:hover #content{
    display: block;
    transition-delay: 0.2s;
}
#content{
    padding: 10px 0;
    display: none;
    width: 100px;
    background-color: white;
    transform: translate(-40px);
    transition-delay: 0s;
}
#content li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 40px;
}
#content ul{
    background-color: white;
}
#content .list1{
    display: block;
}
#content .list1 li{
    list-style-type: none;
    display: block;
    height: 40px;
    width: 100%;
}
#content .list1 li:hover{
    background-color: #9c9c9cee;
}
#content .list1 .item1 a{
    position: absolute;
    list-style-type: none;
    display: block;
    height: 40px;
    width: 100%;
}
#content .list1 .item1:hover ul{
    display: block;
    transition-delay: 0.2s;
}
#content .list1 .item1 ul{
    position: absolute;
    display: none;
    width: 100px;
    transform: translate(-99px);
    transition-delay: 0s;
}
#loge1 div span{
    display: block;
    width: 35px;
    height: 4px;
    background-color: #666;
    margin: 6px auto;
    border-radius: 2px;
}

#user{
    width: 200px;
    height: 60px;
    float: right;
    display: none;
}
#noUser{
    width: 200px;
    height: 60px;
    float: right;
    display: none;
}
#avatar{
    width: 50px;
    height: 50px;
    margin: 5px;
    overflow: hidden;
    border-radius: 60px;
    float: left;
}
#noAvatar{
    width: 50px;
    height: 50px;
    margin: 5px;
    overflow: hidden;
    border-radius: 60px;
    float: left;
}
#avatar img{
    width: 100%;
    height: 100%;
}
#noAvatar img{
    width: 100%;
    height: 100%;
}
#name{
    width: 130px;
    height: 60px;
    float: right;
}
#noName{
    width: 130px;
    height: 60px;
    float: right;
}
#name p{
    display: block;
    width: 60px;
    height: 24px;
    margin-top: 6px;
    text-align: center;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}
#noName p{
    display: block;
    width: 60px;
    height: 24px;
    margin-top: 6px;
    text-align: center;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 0;
}
#name div{
    max-width: 130px;
    height: 24px;
    line-height: 24px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#noName div{
    width: 60px;
    height: 24px;
    line-height: 24px;
    background-color: #f6f6f6;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    float: left;
}
#avatar:hover ~ ul{
    height: 250px;
    opacity: 1;
}
#user ul{
    display: block;
    width: 120px;
    height: 0;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FFFFFFcc;
    border-bottom: 5px solid white;
    opacity: 0;
    transition-duration: 0.4s;
    position: relative;
    z-index: 999;
}
#user ul:hover{
    height: 250px;
    opacity: 1;
}
#user ul li{
    display: block;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    padding-left: 20px;
}
#user ul li a{
    color: black;
    text-decoration: none;
}
#searchFrame{
    height: 60px;
    padding: 5px 0;
    width: 600px;
    max-width: 50%;
    float: left;
    margin-left: 3%;
}
#searchFrame form{
    width: 100%;
    background-color: white;
}
#searchFrame form input{
    width: 85%;
    height: 45px;
    border-left: 1px solid lightskyblue;
    border-top: 1px solid lightskyblue;
    border-bottom: 1px solid lightskyblue;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    float: left;
    padding-left: 10px;
    font-size: 20px;
    color: #666;
    position: relative;
}
#search{
    width: 15%;
    height: 45px;
    float: right;
    border-right: 1px solid lightskyblue;
    border-top: 1px solid lightskyblue;
    border-bottom: 1px solid lightskyblue;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
#imageSearch{
    position: absolute;
    width: 41px;
    height: 41px;
    transform: translate(-45px,2px);
    border: 0;
    cursor: pointer;
    background: url("../image/imageSearch.gif") center center no-repeat;
}




#mainer{
    margin: auto;
    width: 1100px;
    max-width: 100%;
    background-color: #ddd;
}
#left{
    width: 65%;
    float: left;
}
#title{
    resize: none;
    outline: none;
    width: 100%;
    height: 110px;
    border: 2px solid black;
    padding: 3px;
    line-height: 25px;
    border-radius: 4px;
    float: left;
    clear: both;
}
#type{
    float: left;
}
#lastSearchImg{
    max-width: 100%;
}

#options{
    float: left;
    width: 100%;
}
#options #ls_option{
    width: 100%;
    float: left;
}
#options #ls_option .option_frame{
    width: 100%;
    height: 40px;
}
#options #ls_option .option_frame label{
    width: 4%;
    line-height: 40px;
    float: left;
}
#options #ls_option .option_frame input{
    display: block;
    width: 80%;
    float: left;
    height: 32px;
    margin: 4px 0px;
    border: 1px solid black;
    outline: 0;
    padding-left: 10px;
}
#options #ls_option .option_frame button{
    width: 10%;
    float: left;
    height: 32px;
    margin: 4px 0px;
    border: 1px solid black;
    background-color: #0000;
}
#right{
    float: right;
    width: 33%;
    max-height: 500px;
    overflow-y: scroll;
}
#top{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
}
#ls_last .noTopic{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
#ls_last .noTopic:nth-of-type(2n){
    background-color: #eeeeee;
}
#ls_last .noTopic.check{
    background-color: #2aabd2;!important;
}
#ls_last .noTopic img{
    max-width: 100%;
}
#ls_last .noTopic p{
    display: block;
    width: 100%;
    height: 100px;
    line-height: 25px;
    font-size: 16px;
    overflow: hidden;
}
#ls_last .noTopic t{
    display: block;
    float: left;
    height: 30px;
    width: 60%;
    text-align: center;
    line-height: 30px;
}
#ls_last .noTopic div{
    float: right;
    width: 40%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #cc5555;
}
#answers{
    width: 80%;
    margin: 0 auto;
}
.answer{
    width: 100%;
    border-top: 2px solid #AAA;
}
.answer img{
    width: 100%;
}

